<div *ngIf="shouldShowDecisions" class="mat-typography container">
  <div>
    <mat-card>
      <h1 class="mat-display-2">
        Today you will not
        <span class="accent-color">{{ notDoFormGroup.get('notDoControl').value }}</span>
      </h1>
      <h1 class="mat-display-2">
        Today you will
        <span class="accent-color">{{ doFormGroup.get('doControl').value }}</span>
      </h1>
    </mat-card>
    <div class="fab-button">
      <button mat-mini-fab (click)="shouldShowDecisions=false" color="primary">
        <mat-icon aria-label="Selected decisions">view_agenda</mat-icon>
      </button>
    </div>
  </div>
</div>
<div *ngIf="!shouldShowDecisions" class="container">
  <div>
    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="notDoFormGroup">
        <form [formGroup]="notDoFormGroup">
          <ng-template matStepLabel>
            <div class="question-label">
              Deciding not to do <span class="accent-color">{{ notDoFormGroup.get('notDoControl').value }}</span>
            </div>
          </ng-template>
          <mat-form-field>
            <input type="text" required aria-required="true" placeholder="I will not" aria-label="I will not" matInput [formControl]="notDoControl"
              [matAutocomplete]="doNotAuto">
            <mat-autocomplete #doNotAuto="matAutocomplete">
              <mat-option *ngFor="let option of notDoFilteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button mat-raised-button color="primary" [disabled]="notDoFormGroup.invalid" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="doFormGroup">
        <form [formGroup]="doFormGroup">
          <ng-template matStepLabel>
            <div class="question-label">
              Deciding to do <span class="accent-color">{{ doFormGroup.get('doControl').value }}</span>
            </div>
          </ng-template>
          <mat-form-field>
            <input type="text" required aria-required="true" placeholder="I will" aria-label="I will" matInput [formControl]="doControl"
              [matAutocomplete]="doAuto">
            <mat-autocomplete #doAuto="matAutocomplete">
              <mat-option *ngFor="let option of doFilteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button mat-raised-button color="primary" [disabled]="doFormGroup.invalid" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div class="question-label">
            Done
          </div>
        </ng-template>

        <div>
          <button mat-button mat-raised-button color="primary" (click)="shouldShowDecisions=true">Commit</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
    <div *ngIf="hasDailyDecision()" class="fab-button">
      <button mat-mini-fab (click)="shouldShowDecisions=true" color="primary">
        <mat-icon aria-label="Selected decisions">view_agenda</mat-icon>
      </button>
    </div>
  </div>
</div>
